.box{
    width: 150px;
    transition: 1s;
    background: #eee;
    flex-direction: column;
    padding-top: 30px;
    margin-left: 0px;
}
.prueba{
    position: fixed;
    z-index: 110;
    z-index: 110;
    margin-top: 50px;
}
.box p {
    padding: 8px;
    margin: 8px;
}
.box p:hover {
    background: #666666;
    cursor: pointer;
}
.menuTuggle {
     position: absolute;
     top: -44px;   
     left: 40px;
     cursor: pointer;
     color: red;
     width: 45px;
     height: 40px;
}
.menuTuggle img {
    margin-top: 2px;
    margin-left: 5px;
}
@media only screen and (max-width: 750px) {
    .box{
        width: 120px;
    }
  }
@media only screen and (max-width: 600px) {
    .box{
        position: absolute;
        z-index: 700;
        width: 140px;
        padding-inline-start: 20px;
        top: -8px;
        height: 100vh;
    }
    .box h3 {
        margin-top: -30px;
    }
    .menuTuggle {
        display: inline;
    }
    .prueba{
        z-index: 910;
    }
  }

  @media only screen and (min-width: 1400px) {
    .box{
        width: 190px;
        font-size: 28px;
    }
    .box p {
        padding: 10px;
        margin: 10px;
    }
  }