.producto_caja {
  background: white;
  max-width: 98%;
  min-width: 100px;
  height: 130px;
  margin-bottom: 8px;
  display: flex;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding-top: 10px;
}
.producto_caja:hover .producto_info .producto_x{
  visibility: visible;
  transition: 0.5s;
}
.producto_x:hover{
  box-shadow: 0 0 10px 1px black;
}
.producto_x:hover .producto_x2{
  font-weight: bold;
  transition: 0.5s;
}
.producto_x:active{
  transform: scale(1.2);
}
.producto_imagen{
  margin: auto;
  width: 60px;
}
.producto_info{
  width: 80%;
  text-align: center;
  overflow: hidden;
}
.producto_nombre{
  overflow: hidden;
  margin: 0;
  height: 30px;
  border-bottom: 1px solid black;
}
.producto_presupuesto{
  display: flex;
}
.producto_precio{
  flex: 1;
}
.producto_cantidad{
  flex: 1;
}
.producto_total{
  flex: 1;
}
.producto_caja p{
  height: 22px;
  margin:0;
}
.producto_caja p:nth-child(2) {
  margin: 5px 0 5px 0;
}
.producto_cantidad_botones{
  display: flex;
}
.producto_x{
  position: relative;
  left: 240px;
  top: -45px;
  border-radius: 50px;
  width: 23px;
  height: 23px;
  background: #e60000;
  cursor: pointer;
  border: none;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.producto_x2{
  position: relative;
  color: white;
}
.vezesComprado{
  border: 2px solid #eee;
  width: 35px;
  min-height: 35px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  padding-top: 0;
  margin: auto;
}
