.ofertsBox{
    width: 211px;
    height: 135px;
    top: 90px;
    display: flex;
    overflow: hidden;
    margin-bottom: 5px;
}
.ofertsBox2{
    position: absolute;
    display: flex;
    transition: all .3s linear;
}
.imageOffer {
  z-index: 20;
  position: absolute;
  margin: -5px;
  margin-top: -3px;
}
.buttonsWrapper {
    width: 196px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    left: 8px;;
    margin-top: -15px;
    z-index: 10;
  }
  
  .buttonsWrapper .Button {
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 30px;
    width: 30px;
    border-radius: 4px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s linear;
  }
  .buttonsWrapper button:first-child {
    background-image: url(http://static.birgun.net/static/images/slider-arrow-left.svg);
  }
  .buttonsWrapper button:nth-of-type(2) {
    background-image: url(http://static.birgun.net/static/images/slider-arrow-right.svg);;
  }
  .buttonsWrapper button:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  @media only screen and (max-width: 900px) {
    .ofertsBox {
      display: none;
    }
  }

  @media only screen and (min-width: 1400px) {
    .ofertsBox{
      width: 320px;
      height: 205px;
    }
    .imageOffer img{
      height: 90px;
      width: 90px;
    }
    .buttonsWrapper {
      width: 310px;
    }
    .buttonsWrapper .Button {
      height: 40px;
      width: 40px;
    }
  }
  
  