body{
    margin: 0;
    overflow-x: hidden;
    background: #eee;
}
.ShopClass {
    position: relative;
    top: -2px;
    left: -2px;
    display: flex;
}
.orderOferts {
    position: fixed;
    right: 8px;
    width: 215px;
    top: 65px;
    overflow: hidden;
}

@media only screen and (min-width: 1400px) {
    .orderOferts{
      width: 330px;
    }
  }



