@media (orientation: landscape) {
    .checkout-container {
        height: 85vh;
        min-height: 650px;
        max-height: 700px;
        width: 750px;
        margin: auto;
        background: white;
        border: 1.5px solid rgb(245, 245, 245);
        border-radius: 10px;
        padding: 40px;
        padding-left: 120px;
        padding-right: 120px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 10px;
        position: relative;
    }
    .checkout-pahses {
        max-height: 95px;
        min-height: 95px;
    }
    .checkout-content {
        height: 78%;
    }
    .checkout2 {
        
    }
    .checkout-price {
        position: absolute;
        right: 20px;
        top: 85px;
        width: 230px;
        display: flex;
        background: white;
        padding: 8px;
        border: 1.5px solid rgb(245, 245, 245);
        border-radius: 10px;
    }
    .checkout-price-name {
        min-width: 60%;
    }
    .checkout-price div {
        width: 50%;
        text-align: right;
    }
    .checkout-nextButton {
        position: absolute;
        right: 130px;
        bottom: 30px;
        border: none;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
            0 0 8px rgb(197, 197, 197);
        z-index: 120;
    }
}

@media (orientation: portrait) {
    .checkout-container {
        margin: auto;
        background: white;
        border: 1.5px solid rgb(245, 245, 245);
        border-radius: 10px;
        margin-bottom: 0vh;
        margin-top: 8vh;
        padding: 40px;
        display: flex;
        flex-direction: column;
        width: 95%;
        max-width: 95%;
        max-height: 90vh;
        min-height: 90vh;
        padding-left: 50px;
        padding-right: 50px;
        position: relative;
    }
    .checkout-pahses {
        max-height: 95px;
        min-height: 95px;
    }
    .checkout-content {
        position: relative;
        top: -10px;
        flex-grow: 1;
        overflow-y: scroll;
    }
    .checkout2 {
        min-height: 150px;
        max-height: 150px;
    }
    .checkout-price {
        display: flex;
        position: relative;
        right: 0px;
        bottom: 0px;
        padding-right: 10px;
    }
    .checkout-price-name {
        min-width: 80%;
    }
    .checkout-price div {
        width: 50%;
        text-align: right;
    }
    .checkout-price div p {
        margin: 0;
    }
    .checkout-next {
        width: 100%;
        margin-top: 20px;
        position: relative;
    }
    .checkout-nextButton {
        position: fixed;
        right: 80px;
        bottom: 50px;
        border: none;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px 10px 20px;
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
            0 0 8px rgb(197, 197, 197);
        z-index: 120;
    }
    @media only screen and (max-width: 600px) {
        .checkout-container {
        
            padding: 0px 10px 0px 10px;
        }
        .checkout-content {
            padding: 0;
            // overflow: hidden;
        }
        .checkout2 {
            min-height: 125px;
            max-height: 125px;
            width: 120%;
            position: relative;
            display: flex;
            width: 100%;
        }
        .checkout-price {
            display: flex;
            position: absolute;
            left: 0;
            bottom: 15px;
            width: 150px;
            height: 66px;
            background: #019e7f;
            padding: 5px;
            border-radius: 5px;
            color: white;
        }
        .checkout-price p{
            font-size: 12px;
        }
        .checkout-price h4{
            font-size: 14px;
        }
        .checkout-price-name {
            width: 95px;
            min-width: 95px;
        }
        .checkout-price div {
            text-align: left;
        }
        .checkout-price div p {
            margin: 0;
        }
        .checkout-next {
            width: 150px;
            position: absolute;
            right: 5px;
            bottom: 0px;
        }
        .checkout-next button {
            position: absolute;
            right: 5px;
            bottom: 15px;
        }
        .checkout-nextButton {
            right: 40px;
            bottom: 3%;
            //font-size: 12px;
            //padding: 8px 12px 8px 12px;
        }
        .checkout2 p {
            margin: 0;
            padding: 0;
        }
    }
    @media only screen and (max-width: 400px) {
        .checkout-container {
        }
        .checkout2 {
            min-height: 80px;
            max-height: 80px;
        }
    }
}

//PHASES-------------------------------------------
.checkout-phases-container {
    width: 80%;
    height: 60px;
    margin: auto;
    margin-top: 0px;
}
.checkout-phases-line {
    width: 100%;
    height: 2px;
    background: rgb(201, 201, 201);
    position: relative;
    top: 17px;
}
.checkout-phases-circles {
    display: flex;
    width: 100%;
}

.checkout-phase {
    margin: auto;
    z-index: 2;
    background: white;
}

.checkout-circle {
    width: 30px;
    height: 30px;
    background: rgb(224, 224, 224);
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
    text-align: center;
}
.checkout-circle p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
}
.checkout-phases-greenCircle {
    width: 30px;
    height: 30px;
    background: rgb(26, 159, 248);
    border-radius: 50%;
}
@media only screen and (max-width: 600px) {
    .checkout-phases-container {
        position: relative;
        transform: scale(0.9);
        width: 110%;
        left: -5%;
        top: 15px;
    }
}
