.Home-container {
    display: flex;
    width: 85vw;
    max-width: 1400px;
    padding: 5px;
    margin: auto;
    min-height: 75vh;
}
.Home-body {
}
.home-img {
    width: 100%;
    padding-left: 10px;
    margin-top: 85px;
}
.home-products {
    margin-top: -50px;
}
@media only screen and (max-width: 600px) {
    .Home-container {
        width: 99vw;
        position: relative;
        left: -3px;
    }
}
