.Home-container {
    display: flex;
    width: 85vw;
    max-width: 1400px;
    padding: 5px;
    margin: auto;
    min-height: 75vh;
}
.Home-body {
}
.home-img {
    width: 100%;
    padding-left: 0;
    margin-top: 50px;
    border-radius: 5px;
}
.home-products {
    margin-top: -50px;
}
@media only screen and (max-width: 600px) {
    .Home-container {
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
    }
    .home-img {
        width: 185%;
        padding-left: 0;
        margin-left: -80%;
        margin-top: 50px;
        border-radius: 5px;
    }
}
