.order-container {
    display: flex;
}
.order-products {
    width: 50%;
    height: 45vh;
    overflow-y: scroll;
}
.order-info {
    width: 50%;
    margin-left: 20px;
}
.order-info h3 {
    color: black;
}

//PRODUCT-----------------------------
.order-product {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: relative;
    padding: 0px;
    display: flex;
}
.order-image {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}
.order-image img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.order-product-description {
    width: 120px;
    position: relative;
    margin-left: 20px;
}

.order-product-description p {
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.order-product-description-name {
    font-size: 14px;
}
.order-product-description-price {
    font-size: 10px;
}
.order-product-description-buttons {
    position: relative;
    display: flex;
}
.order-product-description-buttons button {
    border: none;
    width: 25px;
    border-radius: 3px;
    background: #019e7f;
    color: white;
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    text-align: center;
    line-height: 0px;
}
.order-product-description-buttons div {
    border: none;
    width: 20px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    height: 55px;
    line-height: 55px;
}

.order-product-price-total {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #019e7f;
    margin-left: 40px;
    width: 65px;
    height: 55px;
    line-height: 55px;
    font-weight: bold;
    text-align: right;
}
.order-product-price-total p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #019e7f;
    font-weight: bold;
}
.order-product-eliminate {
    position: absolute;
    right: 10px;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px;
}
