.order-container {
    display: flex;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    height: 80%;
    overflow-y: scroll;
}
.order-products {
    width: 50%;
    position: relative;
    height: 100%;
}
.order-products-list {
    min-height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}
.order-totalPrice {
    display: flex;
    color: black;
    position: absolute;
    bottom: 40px;
    right: -250px;
    margin-top: 20px;
    width: 250px;
}
.order-totalPrice-text {
    width: 100px;
    text-align: right;
    font-size: 25px;
}
.order-totalPrice-num {
    position: absolute;
    right: 0;
    font-size: 25px;
}
.order-info {
    width: 50%;
}
.order-info h3 {
    color: black;
}
.order-subTotal {
    position: absolute;
    display: flex;
    right: -250px;
    bottom: 95px;
    width: 250px;
}
.order-subTotal-num {
    position: absolute;
    right: 0;
}
.order-subTotal-text {
    width: 100px;
    text-align: right;
}
.order-VAT {
    display: flex;
    position: absolute;
    right: -250px;
    bottom: 65px;
    width: 250px;
}
.order-VAT-num {
    position: absolute;
    right: 0;
}
.order-VAT-text {
    width: 100px;
    text-align: right;
}

//PRODUCT-----------------------------
.order-products-header {
    display: flex;
    border-bottom: 2px solid rgb(197, 197, 197);
}
.order-products-header-description {
    width: 240px;
}
.order-products-header-qty {
    width: 120px;
}
.order-products-header-X {
    position: absolute;
    right: 20px;
}
.order-product {
    width: 100%;
    height: 75px;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: relative;
    padding: 0px;
    display: flex;
}
.order-image {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}
.order-image img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.order-product-description {
    width: 150px;
    position: relative;
    margin-left: 20px;
}

.order-product-description p {
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.order-product-description-name {
    font-size: 14px;
}
.order-product-description-price {
    font-size: 10px;
}
.order-product-description-buttons {
    position: relative;
    display: flex;
}
.order-product-description-buttons button {
    border: none;
    width: 25px;
    border-radius: 3px;
    background: #019e7f;
    color: white;
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    text-align: center;
    line-height: 0px;
}
.order-product-description-buttons button p {
    position: relative;
    height: 50px;
    line-height: 19px;
    color: white;
}
.order-product-description-buttons div {
    border: none;
    width: 20px;
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    height: 55px;
    line-height: 55px;
}

.order-product-price-total {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #019e7f;
    margin-left: 50px;
    width: 65px;
    height: 55px;
    line-height: 55px;
    font-weight: bold;
    text-align: right;
}
.order-product-price-total p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #019e7f;
    font-weight: bold;
}
.order-product-eliminate {
    position: absolute;
    right: 10px;
    height: 20px;
    width: 20px;
    border: none;
    font-size: 10px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 30px;
}

.order-container {
    flex-direction: column-reverse;
}
.order-products {
    width: 100%;
}
.order-info {
    width: 100%;
}
