.payment-container {
    margin: auto;
    max-width: 600px;
    margin-top: 40px;
}
.payment-container input {
    background: rgb(240, 240, 240);
    border: none;
    height: 45px;
}
.payment-container label {
    font-weight: bold;
}
.payment-container input:focus {
    background: rgb(240, 240, 240);
}
.payment-price {
    margin-bottom: 20px;
}
.payment-method {
    display: flex;
    margin-bottom: 20px;
}
.payment-method div {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgb(245, 245, 245);
    background: rgb(240, 240, 240);
}
.payment-method img {
    width: 40%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.payment-method-2 {
    margin-left: 10px;
    margin-right: 10px;
}
.payment-card-details {
    display: flex;
    margin-bottom: 20px;
}
.payment-card-details div {
    width: 100%;
}
.payment-card-details div:first-of-type {
    margin-right: 30px;
}

.payment-card-number {
    margin-bottom: 20px;
}
.payment-method-title {
    font-weight: bold;
}
