.shoppingCart-product {
    width: 100%;
    height: 110px;
    border-bottom: 1px solid rgb(204, 204, 204);
    position: relative;
    padding: 5px;
    display: flex;
    overflow: hidden;
}
.shoppingCart-image {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
}
.shoppingCart-image img {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.shoppingCart-product-description {
    width: 200px;
    margin-left: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.shoppingCart-product-description p {
    margin: 0;
    padding: 0;
}
.shoppingCart-product-description-buttons {
    position: relative;
    top: 10px;
    display: flex;
}
.shoppingCart-product-description-buttons button {
    border: none;
    border-radius: 2em;
    padding: 10px;
    background: #019e7f;
    color: white;
    font-weight: bold;
    height: 30px;
}
.shoppingCart-product-description-buttons div {
    border: none;
    text-align: center;
    font-weight: bold;
}
.shoppingCart-product-price {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 210px;
    font-size: 15px;
    width: 65px;
    text-align: center;
}
.shoppingCart-product-price-total {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    margin-left: 265px;
    width: 70px;
    text-align: center;
    font-size: 18px;
    color: #019e7f;
}
.shoppingCart-product-eliminate {
    position: absolute;
    right: 5px;
    padding: 3px 6px;
    border: none;
    font-size: 10px;
    font-weight: bold;
    background: rgb(194, 194, 194);
}
.shoppingCart-product-buttons {
    position: relative;
    top: -45px;
    right: -60px;
    transform: scale(0.8);
}
