.settings-container {
    width: 600px;
    height: 750px;
    margin: auto;
    margin-top: 120px;
    padding: 40px;
    border-radius: 10px;
    background: white;

    border: 2px solid rgb(245, 245, 245);
}
.settings-changeInfo-button {
    margin-bottom: 40px;
}
button {
    border: none;
    background: #019e7f;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
