.settings-auth {
    width: 600px;
    height: 240px;
    margin: auto;
    margin-top: 120px;
    padding: 40px;
    border-radius: 10px;
    background: white;

    border: 2px solid rgb(245, 245, 245);
}
.settings-container {
    width: 600px;
    height: 800px;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    border-radius: 10px;
    background: white;
    position: relative;
    border: 2px solid rgb(245, 245, 245);
    border-bottom:  65px solid rgb(245, 245, 245);
}
.settings-container button {
    position: relative;
    margin-top: 0px;
    margin-bottom: 30px;
}
.settings-deleteButton {
    position: absolute;
    top: 35px;
    left: 100%;
    background: red;
    transform: translateX(-100%);
}
button {
    border: none;
    background: #019e7f;
    color: white;
    border-radius: 5px;
    padding: 8px;
}
.settings-title {
    margin-bottom: 30px;
}
.settings-spinner {
    position: relative;
    left: 10px;
    top: 5px;
}
.settings-modal-body {
    height: 90px;
    padding-top: 30px;
}
.settings-modal-footer {
    border: none;
}
@media only screen and (max-width: 650px) {
    .settings-auth {
        width: 85%;
        height: 160px;
        margin: auto;
        margin-top: 120px;
        padding: 15px;
        border-radius: 10px;
        background: white;
    
        border: 2px solid rgb(245, 245, 245);
    }
    .settings-auth h4{
        font-size: 18px;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }
    .settings-auth input{
       height: 30px;
    }
    .settings-auth button{
        font-size: 12px;
     }

     .settings-container {
        width: 95%;
        height: 650px;
        margin: auto;
        margin-top: 90px;
        padding: 40px;
        border-radius: 10px;
        background: white;
    
        border: 2px solid rgb(245, 245, 245);
    }
    .settings-container h4{
        font-size: 20px;
    }
    
}
@media only screen and (max-width: 450px) {
    .settings-auth {
        width: 95%;
        height: 160px;
    }
    .settings-auth h4{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .settings-auth input{
       height: 28px;
    }

    .settings-container {
        padding: 10px;
        padding-top: 20px;
        height: 600px;
    }

    .settings-container input{
        height: 35px;
        font-size: 14px;
    }
}
