.shipping-container {
    padding: 50px;
    //border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
}
.shipping-container input {
    background: rgb(240, 240, 240);
    border: none;
    height: 45px;
}
.shipping-container input:focus {
    background: rgb(240, 240, 240);
}
.shipping-container label {
    font-weight: bold;
}
