.shipping-container {
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
}
.shipping-container input {
    background: rgb(240, 240, 240);
    border: none;
    height: 45px;
}
.shipping-container input:focus {
    background: rgb(240, 240, 240);
    outline: 0 none;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
        0 0 8px rgb(197, 197, 197);
    outline: 0 none;
}
.shipping-container select {
    background: rgb(240, 240, 240);
    border: none;
    height: 45px;
}
.shipping-container select:focus {
    background: rgb(240, 240, 240);
    outline: 0 none;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
        0 0 8px rgb(197, 197, 197);
    outline: 0 none;
}
.shipping-container label {
    font-weight: bold;
}

@media (orientation: portrait) {
    .shipping-container {
        border-radius: 5px;
        max-width: 600px;
        margin: auto;
        margin-top: 0px;
    }
    @media only screen and (max-width: 600px) {
        .shipping-container {
            transform: scale(0.8);
            width: 120%;
            position: relative;
            left: -10%;
            top: -10%;
        }
    }
}
