@import 'Footer';
@import 'Header';
@import 'sideBar';

body {
    width: 100vw;
    overflow-x: hidden;
    background: rgb(250, 250, 250);
}
.App-container {
    margin: 0;
    padding: 0;
}
.App-body {
    display: flex;
    width: 85vw;
    max-width: 1400px;
    padding: 5px;
    margin: auto;
    min-height: 75vh;
}
.routes {
    flex: 1;
}
