.orders-container {
    display: flex;
    margin-top: 120px;
    height: 80vh;
}
.orders-ordersList {
    border: 1px solid rgb(214, 214, 214);
    width: 350px;
    min-width: 350px;
    padding: 20px;
    overflow-y: scroll;
    margin-right: 20px;
}
.orders-steps {
    display: flex;
    font-weight: bold;
}
.orders-steps p {
    margin: auto;
}
.orders-circle {
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(190, 190, 190);
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bold;
    color: white;
}
.orders-tick {
    width: 18px;
    height: 18px;
}
.orders-ticked {
    background: #019e7f;
}
.orders-orderProducts {
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    height: 60%;
}
.orders-progress {
    height: 4px;
    color: #019e7f;
    margin: auto;
    width: 65%;
    position: relative;
    top: -23px;
    z-index: -1;
    background-color: rgb(219, 219, 219);
}
.orders-orderDetails {
    width: 100%;
    border: 1px solid rgb(214, 214, 214);
    padding: 20px;
}
.orders-orderBox {
    width: 100%;
    height: 185px;
    background: rgb(238, 238, 238);
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
    border-top: 45px solid rgb(206, 206, 206);
}
.orders-orderBox-header {
    display: flex;
    position: relative;
    top: -55px;
    height: 40px;
}
.orders-orderInfo {
    display: flex;
    position: relative;
    top: -60px;
    font-size: 14px;
}
.orders-orderInfo div {
    width: 50%;
}
.orders-orderInfo div p {
    margin: 5px;
}
.orders-orderBox-header-status {
    text-align: right;
    position: absolute;
    right: 0;
    font-weight: bold;
}

.orders-orderInfo-values {
    text-align: right;
}
.orders-orderInfo-prcie {
    font-weight: bold;
}
.orders-orderInfo-values-price {
    font-weight: bold;
}
.orders-orderBox-button {
    position: relative;
    top: -55px;
    left: 70%;
    text-align: center;
    font-size: 14px;
}

.orders-delivery-info {
    display: flex;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgb(214, 214, 214);
}
.orders-delivery-info-1 {
    width: 75%;
    padding-left: 20px;
    display: flex;
}
.orders-delivery-info-1 div {
    width: 350px;
}
.orders-delivery-info-1 div:first-child {
    font-weight: bold;
}
.orders-delivery-info-2 {
    position: absolute;
    right: 0px;
    width: 25%;
    display: flex;
    padding-left: 20px;
    border-left: 1px solid rgb(214, 214, 214);
}
.orders-delivery-info-2 div {
    width: 50%;
}
.orders-delivery-info-2 div:first-child {
    font-weight: bold;
}
.orders-delivery-info-2 div:nth-child(2) {
    position: relative;
    right: 0;
}

@media only screen and (max-width: 1250px) {
    .orders-ordersList {
        width: 250px;
        min-width: 250px;
        font-size: 10px;
        padding: 5px;
    }
}
