.producto_caja {
  background: white;
  width: 99%;
  height: 70px;
  margin-top: 2px;
  display: flex;

  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding-top: 10px;
}
.producto_caja:hover .producto_info .producto_x{
  visibility: visible;
  transition: 0.5s;
}
.producto_x:hover{
  box-shadow: 0 0 10px 1px black;
}
.producto_x:hover .producto_x2{
  font-weight: bold;
  transition: 0.5s;
}
.producto_x:active{
  transform: scale(1.2);
}
.producto_imagen{
  margin: auto;
  width: 40px;
  height: 40px;
}
.producto_info{
  width: 80%;
  text-align: center;
  overflow: hidden;
  flex-direction: column;
}
.producto_nombre{
  position: relative;
  left: 5px;
  font-size: 13px;
  font-weight: bold;
  margin: -2px;
  padding: 0;
  margin-bottom: 3px;
  height: 20px;
  border-bottom: 1px solid black;
  width: 100%;
}
.h5{
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}
.producto_presupuesto{
  display: flex;
  position: relative;
  left: -5px;
  z-index: 100;
}
.producto_precio{
  flex: 1;
  height: 15px;
  font-size: 13px;
  font-weight: bold;
}
.producto_precio p {
  height: 15px;
  margin:0;
  padding: 0px;
}
.producto_cantidad{
  flex: 1;
  flex-direction: column;
  font-size: 13px;
  font-weight: bold;
}

.producto_total{
  flex: 1;
  font-size: 13px;
  font-weight: bold;
}
.producto_total p {
  height: 15px;
  margin:0;
  padding: 0px;
}
.producto_caja p:nth-child(2) {
  margin: 5px 0 5px 0;

}
.producto_cantidad_botones{
  display: flex;
}
.producto_boton{
  margin: -3px 1px 0 1px;
  min-width: 25px;
  background: green;
  border: none;
  width: 10px;
  height: 25px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.producto_boton:active{
    animation: pulse 0.3s linear 1;
}
@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1);}
}
.producto_x{
  position: relative;
  left: 240px;
  top: -45px;
  border-radius: 50px;
  width: 23px;
  height: 23px;
  
  cursor: pointer;
  border: none;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.producto_x2{
  position: relative;
  color: white;
}
.vezesComprado{
  border: 2px solid #eee;
  width: 24px;
  min-height: 23px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  padding: 0;
  position: relative;
  top: -8px;
}
.product_title {
  display: flex;
}
.product_title img {
  position: relative;
  left: -10px;
  cursor: pointer;
}
p{
  padding-top: 15px;
}


@media only screen and (min-width: 1400px) {
  .producto_caja {
    height: 90px;
  }
  .producto_imagen{
    width: 65px;
    height: 65px;
  }
  .producto_boton{
    width: 35px;
    height: 35px;
  }
  .vezesComprado {
    width: 35px;
    height: 35px;
  }
}
